<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Clientes</title>
  </head>

  <body>
    <div class="header-container">
      <h1 class="header-title">Clientes</h1>
    </div>
    <form class="form">
      <div class="form-item">
        <label for="nome">Nome</label>
        <input type="text" id="nome" />
      </div>

      <div class="form-item">
        <label for="idade">Idade</label>
        <input type="text" id="idade" />
      </div>

      <div class="form-item">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" />
      </div>

      <div class="form-item">
        <label for="email">Email</label>
        <input type="text" id="email" />
      </div>
    </form>

    <div class="buttons">
      <button id="btSalvar">Salvar</button>
      <button id="btLimpar">Limpar</button>
      <button id="btExcluir">Excluir</button>
      <a href="../index.html"><button type="button">HOME</button></a>
    </div>
    <hr />

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>NOME</th>
            <th>IDADE</th>
            <th>CPF</th>
            <th>E-Mail</th>
          </tr>
        </thead>
        <tbody id="tbody1"></tbody>
      </table>
    </div>
  </body>
  <script src="manipula_interface.js" type="module"></script>
</html>
